#info {
    display: block;
    border-radius: 5px;
    background-color: #003060;
    color: white;
    padding: 10px 20px;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    
}


#groupButton  {
    margin-top: 4px;
    color: #003060;
    border-radius: 5px;;
    background-color: whitesmoke;
    padding: 4px;
    box-shadow: 2px 2px #cecccc;

}

 a:hover {
    color: white;
}