.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#filters {
    display: grid;
    grid-column: 1,2;
    height: 600px;
    width: 450px;
    background-color: lightblue;
}

#paintings {
    display: grid;
    grid-column: 2,3;
}