@media screen and (min-width: 769px) {

    .container {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }

    #filters {
        border-radius: 5px;
        display: grid;
        grid-column: 1 / span 1;
        height: 600px;
        padding: 10px 20px;
        width: 400px;
        background-color: #003060;
        color: white;
    }

    #paintings {
        border-radius: 5px;
        display: grid;
        grid-column: 2 /span 1;
        height: 600px;
        padding: 10px 20px;
        margin-left: 15px;
        background-color: #003060;
        color:white;
        overflow: auto;
    }

    a, a:hover {
        text-decoration: none;
        color: inherit;
        }
    
    .img {
        width: 125px;
        height: 125px;
        padding: 15px;
    }

    table {
        width: 100%;
        margin: 5px 5px 5px 5px;
    }

    th {
        margin: 15px;
        text-align: left;
    }


    td.id   {
        padding: 5px;
        text-align: left;
    }  


}

@media screen and (max-width: 768px) { 

    .container {
        display: grid;
        grid-template-rows: auto auto;
        width: 100%;
    }

    
    #filters {
        border-radius: 5px;
        display: grid;
        grid-row: 1 / span 1;
        height: 100%;
        padding: 10px 20px;
        background-color: #003060;
        color: white;
        font-family: verdana;
    }

    div#paintings {
        border-radius: 5px;
        display: grid;
        grid-row: 2 /span 1;
        margin-top: 50px;
        height: 600px;
        padding: 10px 20px;
        background-color: #003060;
        color: white;
        font-family: verdana;
        overflow: auto;
        text-decoration: none;
    }

    a, a:hover {
        text-decoration: none;
        color: inherit;
        }

    .img {
        width: 125px;
        height: 125px;
        padding: 15px;
    }

    table {
        width: 100%;
        margin: 5px 5px 5px 5px;
    }

    th {
        margin: 15px;
        text-align: left;
    }

    td.id   {
        padding: 5px;
        text-align: left;
    }   

}