body {
    margin: 15px 50px;
    background-color: white;
    font-family: calibri;
    font-size: 1rem;
}

header {
    display: block;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0px;
    background-color: grey;
    color: black;
    text-align: center;
}

main {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 20rem 25rem auto;
    height: 650px;
}

.box {
    background-color: grey;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
  }
  
.list {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    overflow: auto;
    height: 600px;
}

.info {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    height: 260px;
}

.map {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    height: 305px;
}

.paintings {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
    overflow: auto;
    height: 600px;
}

ul#galleryList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.info section {
    display: none;
    grid-gap: 5px;
    grid-template-columns: 6rem auto;	
}

div.list section {
    display: none;
}

div.paintings section {
    display: none;
}

#galleryName {
    grid-column: span 2;
}

label {
    font-weight: bold;
}
table {
    width: 100%;
    margin: 5px 10px 5px 5px;
}

th {
    text-align: left;
    padding: 5px;
}

td {
    padding: 5px;
}

#pColours span {
    padding: 5px 15px;
    margin: 10px 3px;
}
