@media screen and (min-width: 768px) { 
    
    main {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 20rem 25rem auto;
        height: 650px;
    }

    .box {
        background-color: lightblue;
        color: #003b46;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1rem;
    }

    .list {
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
        overflow: auto;
        height: 600px;
    }

    ul#galleryList {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .info {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        height: 260px;
    }

    div.info section {
        display: none;
        grid-gap: 5px;
        grid-template-columns: 6rem auto;
    }

    .map {
        grid-column: 2 / span 1;
        grid-row: 2 / span 2;
        height: 290px;

    }

    .paintings {
        grid-column: 3 / span 1;
        grid-row: 1 / span 3;
        overflow: auto;
        height: 600px;
    }

    img {
        width: 75px;
        height: 75px;
    }

    table {
        width: 100%;
        margin: 5px 10px 5px 5px;
    }

    th {
        text-align: left;
        padding: 5px;
    }

    td {
        padding: 5px;
    }   

    a, a:hover {
        text-decoration: none;
        color: inherit;
        }

}

@media screen and (max-width: 768px) { 
    main {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: 650px;
    }

    .box {
        background-color: lightblue;
        color: #003b46;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1rem;
    }

    .list {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        overflow: auto;
        height: 500px;
        text-align: center;
    }

    ul#galleryList {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .info {
        grid-row: 2 / span 1;
        height: 260px;
    }

    div.info section {
        display: none;
        grid-gap: 5px;
        grid-template-columns: 6rem auto;
    }

    .map {
        grid-row: 3 / span 1;
        height: 305px;
    }

    .paintings {
        grid-row: 4 / span 1;
        overflow: auto;
        height: 600px;
    }

    img {
        width: 75px;
        height: 75px;
    }

    table {
        width: 100%;
        margin: 5px 10px 5px 5px;
    }

    th {
        text-align: left;
        padding: 5px;
    }

    td {
        padding: 5px;
    }   

    a, a:hover {
        text-decoration: none;
        color: inherit;
        }
}