body {
    height: 100%;
}

section.logout {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-image: url("https://wallpapercave.com/wp/wp4158371.jpg");
    opacity: 50%;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.login {
    grid-template-columns: 50fr 50fr;
    grid-template-rows: 15% 25% 25% 25% 10%;
    grid-gap: 15px;
    
}
button {
    width: 160px;
    height: 60px;
    font-size: 26px;
    border-radius: 5px;
    margin: 10px 20px;
    text-decoration: none;
}

button>a {
    text-decoration: none;
    color: inherit;
}

input {
    width: 390px;
    height: 60px;
    font-size: 26px;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 10px;
}

  #userInfo {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 20px;
    background-color: lightblue;
    color: #003b46;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
  }

  #search {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px;
    background-color: lightblue;
    color: #003b46;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
  }

  #favourites {
    grid-column: 1/2; 
    grid-row: 3/6;
    padding: 20px;
    background-color: lightblue;
    color: #003b46;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
  }

  #recommended {
    grid-column: 2/3;
    grid-row: 2/6;
    padding: 20px;
    background-color: lightblue;
    color: #003b46;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
  }