main {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}


#favsButton {
    position: absolute;
    right: 100px;
    top: 50px;
}

/* #description {
    width: 50%;

} */

/* div.tab {
    border: lightskyblue 1px solid;
    width: 50%;
    padding: 10px;

} */

.tab {
    overflow: hidden;
    border: 1px solid lightskyblue;
    background-color: powderblue;
}

 .tab {
    background-color: whitesmoke;
    float: center;
    border-radius: 5px;
    outline: none;
    padding: 16px;
    font-size: 16px;
    

}


.tab button.active {
    background-color: steelblue;
}

.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid lightskyblue;
    background-color: powderblue;
    border-top: none;
}
/* 
#description,
#details,
#colors {
    display: none;
} */