@media screen and (min-width: 769px) {
    main {
        background-color: #003060;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        border-radius: 5px;
    }
    
    span {
        padding: 15px 25px;
        margin: 5px;
    
    }
    
  
    #favsButton a,
    #favsButton a:visited {
        text-decoration: none;
        color: black;
    }
    
    .link {
        text-decoration: none;
        border: oldlace 1px solid;
        background-color: whitesmoke;
        padding: 3px;
        color: black;
    }

        
    #imgBox {
        width: 500px;
    }

    
    
    
    .tab , #favsButton {

        background-color: whitesmoke;
        float: center;
        border-radius: 5px;
        outline: none;
        padding: 14px;
        font-size: 14px;
        cursor: pointer;
    
    }
    
    .tab button.active {
        background-color: steelblue;
        
    }
    
    .tabContent  {
        display: none;
        padding: 6px 12px;
        /* border: 1px solid #D4F1F4;  */
        border: #055C9D 2px solid;
        border-top: none; 
        margin-right: 3%;
        
    }
}

@media screen and (max-width: 768px) {
    main {
        background-color: lightblue;
        display: block;
        padding: 10px;
        border: lightblue 1px solid;
        border-radius: 5px;
    }
    
    
    
    span {
        padding: 5px 15px;
        margin: 5px;
    
    }
    
         
    #imgBox {
        width: 300px;
    }



    #favsButton a,
    #favsButton a:visited {
        text-decoration: none;
        color: black;
    }
    
    .link {
        text-decoration: none;
        border: oldlace 1px solid;
        background-color: whitesmoke;
        padding: 3px;
        color: black;
    }
 
    

    .tab , #favsButton {

        background-color: whitesmoke;
        float: center;
        border-radius: 5px;
        outline: none;
        padding: 6px;
        font-size: 12px;
        cursor: pointer;
    
    }
    
    .tab button.active {
        background-color: steelblue;
        
    }
    
    .tabContent  {
        display: none;
        padding: 6px 12px;
        border: 1px solid lightskyblue; 
        background-color: lightblue;
        border-top: none; 
        margin-right: 3%;
        font-size: 12px;
    }
}



























