 @media screen and (min-width: 768px) {

    body {
        margin-right: 5%;
        margin-left: 5%;
    }

    #navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }


    nav .navList {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navList li a {
        margin: 0;
        padding: 5px;
    }
    
    
    .navList li a {
        margin-left: 40px;
    }

    .toggle {
        display: none;
    }

    .navList li a:hover {
        border: lightcyan 0.5px solid;
        border-radius: 10px;
        background-color: lightcyan;
        padding: 4px;
      
    }  
 

 }
 

 #logo {
    width: 25px;
    border-radius: 50%;
    height: 25px;
    position: absolute;
    top: 15px;
    left: 7%;
}

 header {
    border: 1px solid lightblue;
    background-color: lightblue;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
}

.toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 20px;
    height: 25px;
}

 .navList li a {
    text-decoration: none;
   color: black;
}

.navList li {
text-align: center;
padding: 10px ;

}

/* .navList li:hover {
    border: lightcyan 0.5px solid;
    border-radius: 10px;
    background-color: lightcyan;
    /* padding: 5px; */


.navList li, .navList li:visited {
    color: black;
}



.navList {
    list-style-type: none;
    display: none;
}


.clicked {
    display: block;
}

@media screen and (max-width: 768px) {
    .navList li:hover {
        border: lightcyan 0.5px solid;
        border-radius: 10px;
        background-color: lightcyan;
        /* padding: 5px; */
    }
}