 @media screen and (min-width: 769px) {

    * {
        font-family: verdana;
    }
    
    body {
        background-color: #D4F1F4;
        margin-right: 2%;
        margin-left: 2%;
    }

    #navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 50px;
    }


    nav .navList {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navList li a {
        margin: 0;
        padding: 5px;
        margin-left: 0px;
        text-decoration: none;
        color: white;
        font-size: 14px;
    }

    .toggle {
        display: none;
    }

    .navList li a:hover {
        border-radius: 10px;
        background-color: #68BBE3;
        color: #003060;
        /* padding: 1px; */
      
    }  

    #logo {
        width: 50px;
        border-radius: 50%;
        height: 50px;
        position: absolute;
        top: 13px;
        left: 3%;
    }
 

 }
 
 .header {
    background-color: #003060;
    color: white;
    font-family: verdana;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
   
}

.toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 20px;
    height: 25px;
}

.navList li {
    text-align: center;
    align-content: center;
    padding: 10px 8px;

}

.navList li, .navList li:visited {
    color: black;
}


.navList {
    list-style-type: none;
    display: none;
    padding-left: 60px;
}

.clicked {
    display: block;
}

@media screen and (max-width: 768px) {
    .navList li a {
        color: white;
        text-decoration: none;
    }
    
    .navList li:hover {
        border-radius: 10px;
        background-color:#68BBE3;
        
        /* padding: 5px; */
    }

    .header {
        height: 30px;
    }

    .minimize {
        height: 250px;
    }

    
 #logo {
    width: 30px;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    top: 12px;
    left: 5%;
}
}